/* Font Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Oswald";
}

body {
  font-family: "Open Sans";
}

/* Header Styling */
header {
  width: 100%;
  height: auto;
}

/* Blog Title Styling */
.w3-center h1 {
  font-size: 3em; /* Adjust as needed */
}

/* Blog Entries */
.w3-container {
  padding: 16px;
}

.w3-padding-large {
  padding: 24px !important;
}

/* Buttons */
.w3-button {
  margin: 4px;
}

/* Modal Styling */
.w3-modal-content {
  padding: 32px;
}

.w3-modal .w3-button {
  cursor: pointer;
}

/* Footer Styling */
footer {
  text-align: center;
  padding: 32px;
}

/* Clearfix */
.w3-clear {
  clear: both;
}

.w3-navbar {
    background-color: white; /* Dark background color */
    text-align:center;
    font:"Oswald";
}

.w3-navbar a {
    color: white; /* White text color */
    padding: 14px 50px; /* Padding for links */
    display:inline-block;
}

/* Custom styles for the cover page images */
.w3-coverpg {
  display: flex; /* Use flexbox for layout */
  justify-content: space-between; /* Evenly space the images with space between */
  align-items: center; /* Align items vertically centered */
}

.w3-coverpg img {
  flex: 1; /* Allow images to grow and shrink equally */
  max-width: 33.33%; /* Ensure each image takes up one-third of the container's width */
  height: auto; /* Maintain aspect ratio */
  margin: 0; /* Remove any default margin */
}


.w3-margin img {
    flex-direction:row;
}