body{
    padding-top: 100px;
    background-color: SeaShell;
    padding-left: 40px;
}

a{
    color: rgb(85,27,139);
}

.bar{
    background-color: rgba(234,192,228, 0.24);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
}

.nav{
    display: flex;
    flex-direction: row;
}

.nav-item{
    width: 110px;
    text-align: center;
    padding: 20px 0px;
    transition: all 0.15s ease;
}

.nav-item:hover{
    background-color: rgba(234,192,228, 0.5);
}

.current{
    background-color: rgba(234,192,228, 0.5);
}

a{
    text-decoration:none;
}

.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(234,192,228, 0.5);
    border-radius: 500px;
    padding-left: 10px;
    padding-right: 18px;
}

.type{
    margin-right: 8px;
    width: 300px;
    height: 30px;
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    background: transparent;
    border: none;
}

.type::placeholder{
    font-size: 16px;
}

.search-icon{
    border: none;
    width: 25px;
    height: 25px;
}