/*
selector {
  property: value; 
  }
*/
body{
    background:#516a8f;
}

.wrapper {
    width:100%; 
    max-width:1400px;
    margin:0 auto;
}

.main-box {position:relative; margin-top:100px; z-index:10; }

.container {}

.nb-box {display:grid; 
    grid-template-columns: 200px 1fr;
    grid-gap: 12px;
}

.logo-area { width:200px;}

.logo-title h1{font-size:16px; line-height:16px; margin:0px; padding-top:6px; }


.navigation {width: calc(100% - 220px); }

.logo-title {color:#fff;}
.subtitle {color:#fff; font-size:12px; }

.logo-area .subtitle {
    line-height:1; font-size:10px;
}

.copy {
background-color:#003767;
    color:white;
    border: 3px solid #000000;
    padding:12px;
    
}

p {
    color:white;
    font-family: "Space Grotesk", sans-serif;
}




.container h3 {
    border: 3px solid #000000;
    background-color: #d7dbe2;
}

body h1{
     font-family: "Oswald", serif;
    color:#FFFFFF;
}
img {
    width: 300px;
    border-width:5px;
    border-style:solid;
}

.column {
  float: left;
  width: 47%;
  padding: 12px;
  
}
.row::after {
  content: "";
  clear: both;
  display: table;
}


ul {}

li {color:#fff;
    margin-bottom:6px;
    
    a {color:#fff;}
    a:hover {color:#de1831;}
}



.title h3{
    float:right;
}

.nb {
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
    height:60px;
    z-index:10000;
  background-color:#8694a9;
    border:solid;
    border-color:black;
    border-width:5px;
    font-size:18px;
    text-align:center;
    font-family: "Oswald", serif;
    background-color:#333;
    
    /* Links inside the navbar */
    a {
      float: left;
      display: block;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* Change background on mouse-over */
    a:hover {
      background: #ddd;
      color: black;
    }

}
.main-box h3{
    color:black;
    }
    .main-box img{
        border-style:solid;
    }

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}
.tj {font-size:7x;}
.