/*
selector {
  property: value; 
  }
*/

body {
    background-color:#aaba9d;
    font-family: "Noto Sans", sans-serif;
    font-size:1.25em;
    border-radius:6px;
}

#profile {
    width:60%;
    border-width:4px;
    border-style:double;
    border-color:black;
    margin-left:40px;

    
}

.container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}

.box {
    flex: 1;
    padding:1px;
    margin:5%;

    display:flex;
    flex-direction:column;
    justify-content:center;
}

.text-container {
    flex: 1.5;
}

h1 {
    border-width:2px;
    border-color:black;
    padding:4px;
    border-style:solid;
    text-decoration:underline;
    background-color:#b9ba9d;
    border-radius:6px;
}

ul {
  list-style-type: none;
  margin:5px;
  padding: 0;
  overflow: hidden;
  border-width:2px;
  border-style:dashed;
  border-color:black;
  border-radius:6px;
}

li {
  float: left;
  width: 33.3333%;
  display:inline-block;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size:1.4em;

}
li a:hover {
    background-color:#78826e;
    text-decoration:underline;
}
.caption {
    font-weight:350;
    font-size:1em;
    margin-left:5%;
}

.info {
    border-color:black;
    border-style:solid;
    background-color:#b9ba9d;
    border-width:0.5%;
    font-family: "Noto Sans", sans-serif;
    padding:0.5%;
    margin:1%;
    color:black;
    border-radius:6px;
}

#pilot-pic {
    width:30%;
    margin:1%;
    
}

#quote {
    border-color:black;
    border-style:solid;
    background-color:#b9ba9d;
    border-width:0.5%;
    font-family: "Noto Sans", sans-serif;
    padding:0.5%;
    margin:1%;
    color:black;
    border-radius:6px;
}