/*
selector {
  property: value; 
  }
*/
body {
    background-color:#FAF9F6;
}

img {
    border-style:solid;
    border-color:#adc178;
    border-width:10px;
    width:400px;
    margin:25px;
    height:300px;
}

p {
    background-color:;
    color:#4A3728;
    border-style:;
    border-color:#adc178;
    padding-top:150px;
}

h1 {
    margin-top:60px;
    text-decoration: underline;
    color:#a98467;
    text-shadow:2px 2px 5px gray;
}
h2 {
    color:#708238;
}

ul{
    list-style-type:none;
}

li {
    display:inline-block;
}

.container {
    display:flex;
}

.container img {
    flex-grow:2;
}

.navbar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px;
    background:#a98467;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:100;
}

.navbar a {
    position:relative;
    font-size:18px;
    font-weight:500px;
    text-decoration:none;
    margin-left:10px;
    color:#4A3728;
    background-color:;
}

.navbar before { 
    content:;
    position:absolute;
    top:100;
    left:0;
    width:0;
    height:2px;
    background:;
    transition:.3s;
}

.box {
    display:flex;
}

.box {
    flex-grow:2;
}

.img {
    display:flex;
}

.img {
    flex-grow:2;
}