/*
selector {
  property: value; 
  }
*/

body{
 background:#FDF0E6;
 margin: 0px;
}
h1{
  text-decoration:underline;
  text-align:center;
  font-family:"Playfair Display", serif;
  width:100%;
  font-size:50;
  color:#0B0D63;
}

img{
    width:200%;
    margin:30px;
    border-color:#FC9A8D;
    border-style:ridge;
    border-width:4px;
    
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
 

.nav-link{
    padding:30px;
    font-size:18px;
    width:250px;
    font-family: "Playfair Display", serif;
    color:white;
    text-decoration:none;
    
}

#topnav{
    background:#0B0D63;
    padding:10px;
    text-align:center;
    border-style: groove;
    border-color: white;
    border-width: 1px;
    font-weight:bold;
 
}

h2{
    text-align:center;
   font-family:"Merienda", cursive;
    margin-bottom: 80px;
    margin-top: 80px;
    font-size:20px;
}
p{
    text-decoration:none;
    font-size:16px;
    font-family:"Poppins", sans-serif;
    line-height:2;
}
p{
    font-family: "Poppins", sans-serif;;
    font-size:16px;
    text-indent:20px;
    word-wrap:inherit;
    margin-bottom:25px;
    text-align:center;
   
    
    
}

h2{
    margin:40px;
    font-family: "Playfair Display", serif;;
}

em{
    font-size:16px;
    Margin:30px;
    font-family:"Poppins", sans-serif;;
    margin-bottom:30 0 0px;
  
   
}
img{
    width:25%;
}

#secimage{
    border-style:ridge;
    border-color:#FC9A8D;
    border-width:4px;
    width:50%;
}

.container{
    display:flex;  
    align-items:center;
    
}